<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %> </h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order, <%= @order.email %>!</h4>
  </div>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Description</th>
          <th>Category</th>
          <th>Price</th>
          <th>Qty</th>
          <th>Line sub total</th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |item| %>
          <%= render 'orderdetails', product: item.product, quantity: item.quantity %>
        <% end %>
      </tbody>
      <tfoot>
            <tr>
              <th colspan="5">
                TOTAL:
              </th>
              <th>
                <%= humanized_money_with_symbol @order.total_cents / 100.0 %>
              </th>
            </tr>
          </tfoot>
    </table>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
